@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
::selection{
    color: #000;
    background: #fff;
}
nav{
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    z-index: 12;
}
nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.menu ul li a:hover{
    background: #fff;
    color: #000;
}
.img{
    background: url('https://as2.ftcdn.net/v2/jpg/03/00/72/91/1000_F_300729137_VLd51IX2WqVpkus3VuMpTA8mninqP3Ik.jpg') no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.center .btns{
    margin-top: 20px;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}


.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}
.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');  


.search-input.active input{
  border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

